.connectBar {
  width: 100%;
  padding: 25px 0;
  display: flex;
  align-items: center;
  flex-flow: column;
  background: black;
}

.connectBar .connectBarInner {
  max-width: 960px;
  width: 100%;
  background: black;
  box-sizing: border-box;
  padding: 0 25px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
}

.connectBar .connectBarInner a {
  color: #e7048c;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .connectBar .connectBarInner {
    flex-flow: column;
    width: 100%;
  }
  .connectBar .connectBarInner button {
    width: 100% !important;
    display: flex;
    margin-bottom: 15px;
  }
}

.connectBar .connectBarInner span {
  box-sizing: border-box;
  padding: 0 25px;
}

@media only screen and (max-width: 600px) {
  .connectBar .connectBarInner span {
    padding: 0;
    text-align: center;
    margin-top: 10px;
  }
}

.connectBar .connectBarInner button {
  outline: none;
  border: none;
  background: white;
  padding: 0;
  font-size: 14px;
  line-height: 34px;
  font-family: "Roboto";
  font-weight: 600;
  border-radius: 4px;
  color: #54c4c4;
  cursor: pointer;
  text-decoration: none;
  width: 175px;
  text-align: center;
  padding: 5px 0;
  margin-right: 10px;
  text-transform: uppercase;
}

.connectBar .connectBarInner button:disabled {
  background: #f1f1f1;
  color: #ACACAC;
  cursor: not-allowed;
}
